{% extends "base_generic.html" %}

{% block title %}Remover Nome do Capeta - Invoca Piroto{% endblock %}

{% block content %}

{% load static %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-auto text-center">
            <h1>Remover Nome do Capeta</h1>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-auto text-center">
            <div class="alert alert-warning" role="alert">
                <h4 class="alert-heading">Atenção</h4>
                <p>Tem certeza de que quer remover esse nome: {{ devilname.name }}?</p>
                <p class="mb-0"></p>
            </div>
        </div>
    </div>


    <div class="row justify-content-center">
        <div class="col-auto">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="form-group text-center">
                    <input type="submit" class="btn btn-danger" value="Sim, remover.">
                    <a href="{% url 'devilname_list' %}" class="btn btn-light">Cancelar</a>
                </div>
            </form>
        </div>
    </div>

</div>

{% endblock %}