{% extends "base_generic.html" %}

{% block title %}Lista de Nomes do Capeta - Invoca Piroto{% endblock %}

{% block content %}

{% load static %}

<div class="container">
    <div class="row justify-content-center">
        <h1>Lista de nomes do capeta</h1>
    </div>

    <div class="row justify-content-center">
        <div class="co-sm-auto">
            <a href="{% url 'devil_name_create' %}" class="btn btn-primary mb-2"> Adicionar nome do capeta</a>
        </div>
    </div>

    {% if devil_name_list %}
    <div class="row justify-content-center">
        <div class="table-responsive-sm">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Data de Criação</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for devil_name in devil_name_list %}
                    <tr>
                        <td>
                            {{devil_name.id}}
                        </td>
                        <td class="text-break">
                            <a href="{{ devil_name.get_absolute_url }}">{{ devil_name.name }}</a>
                        </td>
                        <td>
                            {{devil_name.creation_date}}
                        </td>
                        <td>
                            <a href="{% url 'devil_name_detail' devil_name.id %}" class="btn btn-info">
                                <i class="fas fa-fw fa-folder-open"></i>
                            </a>
                            <a href="{% url 'devil_name_update' devil_name.id %}" class="btn btn-secondary">
                                <i class="fas fa-fw fa-edit"></i>
                            </a>
                            <a href="{% url 'devil_name_delete' devil_name.id %}" class="btn btn-danger">
                                <i class="fas fa-fw fa-minus-square"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% else %}
    <div class="row justify-content-center">
        <div class="-col-md-auto">
            <p>Nenhum nome foi invocado.</p>
        </div>
    </div>
    {% endif %}

</div>



{% endblock %}