{% extends "base_generic.html" %}

{% block title %}Ver Nomes do Capeta - Invoca Piroto{% endblock %}

{% block content %}

{% load static %}

<div class="container">
  <div class="row justify-content-center">
    <h1>Ver Nome do Capeta</h1>
  </div>

  <div class="row justify-content-center">
    {%if message%}
    <p>{{message}}</p>
    {% endif %}
  </div>


  <div class="row justify-content-center">
    <table class="table table-bordered">
      <tr>
        <th>ID</th>
        <td> {{ devilname.id }}</td>
      </tr>
      <tr>
        <th>Nome</th>
        <td>{{ devilname.name }}</td>
      </tr>
      <tr>
        <th>Data de Criação</th>
        <td> {{ devilname.creation_date }}</td>
      </tr>
    </table>
  </div>

  <div class="row justify-content-center">
      <div class="form-group">
        <a href="{% url 'devilname_update' devilname.id %}" class="btn btn-secondary">Editar</a>
        <a href="{% url 'devilname_delete' devilname.id %}" class="btn btn-danger">Remover</a>
        <a href="{% url 'devilname_list'  %}" class="btn btn-light">Voltar</a>
      </div>
  </div>

</div>

{% endblock %}
