{% extends "base_generic.html" %}

{% block title %}Login - Invoca Piroto{% endblock %}

{% block content %}

{% load static %}
<div class="container">

    <div class="row justify-content-center">
        <div class="col-auto text-center">
            <h1>Login</h1>
        </div>
    </div>

    {% if form.errors %}
        <div class="row justify-content-center">
            <div class="col-auto">
                <div class="alert alert-danger" role="alert">
                    Teu login e tua senha não estão corretos, abestado! Tentam de novo!
                </div>
            </div>
        </div>
    {% endif %}

    {% if next %}
        <div class="row justify-content-center">
             <div class="col-auto">
                 {% if user.is_authenticated %}
                    <div class="alert alert-warning" role="alert">
                       Você não tem essa moral toda que você acha que tem. Se quiser
                        acessar esse recurso, vai ter que acessar com outra conta.
                    </div>
                 
                             {% else %}
                     <div class="alert alert-warning" role="alert">
                       Você tem que entra no sistema pra ver essa página, né imundiçado?
                    </div>

                             {% endif %}
             </div>
        </div>
    {% endif %}

    <div class="row justify-content-center">

        <div class="col-auto">
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="form-group">
                   {{ form.username.label_tag }}
                    <input class="form-control" id="{{ form.username.id_for_label }}" name="{{ form.username.html_name }}" value="{{ form.username.value|default:''}}" type="text" />
                    {{ form.username.errors }}
                </div>
                <div class="form-group">
                    {{ form.password.label_tag }}
                    <input class="form-control" id="{{ form.password.id_for_label}}" name="{{ form.password.html_name }}" value="{{ form.password.value|default:''}}" type="password" />
                    {{ form.password.errors }}
                </div>
                <div class="form-group">
                    <input type="submit" value="Entrar" class="btn btn-primary" />
                    <input type="hidden" name="next" value="{{ next }}" />
                </div>
                <div class="form-group">
                    <a href="{% url 'password_reset' %}">Esqueceu a senha?</a>
                </div>
            </form>
        </div>

        {# Assumes you setup the password_reset view in your URLconf #}

    </div>
</div>

{% endblock %}
