{% extends "base_generic.html" %}

{% block title %}Solicitar mudança de senha - Invoca Piroto{% endblock %}

{% block content %}

{% load static %}

<div class="container">

    <div class="row justify-content-center">
        <div class="col-auto text-center">
            <h1>Solicitar mudança de senha</h1>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-auto">
            <p class="lead">Informe email da conta que deseja resetar a senha.</p>

            <form action="" method="post" class="form">
                {% csrf_token %}
                <div class="form-group text-center">
                    <label for="id_email">Email:</label>
                    <input class="form-control" id="{{ form.email.id_for_label }}" name="{{ form.email.html_name }}"
                        value="{{ form.email.value|default:''}}" type="text" />
                    {{ form.email.errors }}
                </div>

                <div class="form-group text-center">
                    <input type="submit" value="Enviar" class="btn btn-primary" />
                </div>
            </form>

        </div>
    </div>

    <div class="row justify-content-center mb-5">
        <a class="btn btn-light" href="{% url 'login'%}">Quer voltar? Clica aqui pra fazer o login!</a>
    </div>
</div>

{% endblock %}