{% extends "base_generic.html" %}

{% block title %}Solicitar mudança de senha - Invoca Piroto{% endblock %}

{% block content %}

{% load static %}

<div class="container">
  <div class="row justify-content-center">
    <h1>Solicitar mudança de senha efetuada</h1>
  </div>

  <div class="row justify-content-center">
    <div class="alert alert-success" role="alert">
      Enviamos emails com instruções para que você configure uma nova senha. Se ele não chegar em alguns minutos, veja
      na sua caixa de spam.
    </div>
  </div>

  <div class="row justify-content-center mb-5">
    <a class="btn btn-light" href="{% url 'login'%}">Quer voltar? Clica aqui pra fazer o login!</a>
  </div>
</div>

{% endblock %}