{% extends "base_generic.html" %}

{% block title %}Jogo do Enforca Piroto - Invoca Piroto{% endblock %}

{% block content %}

{% load static %}
<div class="container" id="forcapiroto">

    <div class="row">
        <div class="col-sm text-center">
            <img id="hangman-pic" src="{% static 'images/forca/enforcado0.jpg' %}" alt="Enforcado">
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto score">
            <h2>Palavra: <span id="dashes"></span></h2>
            <h2>Erros: <span id="misses"></span></h2>
        </div>
    </div>


    <div class="row justify-content-center mb-2">

        <div class="col-alto">Vitórias <span id="scoreboard-win" class="badge badge-pill badge-success">0</span></div>
        <div class="col-auto">Derrotas <span id="scoreboard-lost" class="badge badge-pill badge-danger">0</span></div>
    </div>

    {% comment %} <div class="row justify-content-center ">
        <div class="col-auto">
            <table class="table table-responsive table-primary table-borderless">
                <thead>
                    <tr>
                        <th><h5 class="text-white">Vitórias</h5></th>
                        <th><h5 class="text-white">Derrotas</h5></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center text-white"><span id="scoreboard-win">0</span></td>
                        <td class="text-center text-white"><span id="scoreboard-lost">0</span></h2>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div> {% endcomment %}

    <div class="row justify-content-center">
        <div class="keyboard-row justify-content-center">
            <div class="col-sm col-auto text-center btn-group">
                <button type="button" class="btn btn-light btn-letter btn-sm" value="Q" id="btn_Q" disabled>Q</button>
                <button type="button" class="btn btn-light btn-letter btn-sm" value="W" id="btn_W" disabled>W</button>
                <button type="button" class="btn btn-light btn-letter btn-sm" value="E" id="btn_E" disabled>E</button>
                <button type="button" class="btn btn-light btn-letter btn-sm" value="R" id="btn_R" disabled>R</button>
                <button type="button" class="btn btn-light btn-letter btn-sm" value="T" id="btn_T" disabled>T</button>
                <button type="button" class="btn btn-light btn-letter btn-sm" value="Y" id="btn_Y" disabled>Y</button>
                <button type="button" class="btn btn-light btn-letter btn-sm" value="U" id="btn_U" disabled>U</button>
                <button type="button" class="btn btn-light btn-letter btn-sm" value="I" id="btn_I" disabled>I</button>
                <button type="button" class="btn btn-light btn-letter btn-sm" value="O" id="btn_O" disabled>O</button>
                <button type="button" class="btn btn-light btn-letter btn-sm" value="P" id="btn_P" disabled>P</button>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="keyboard-row justify-content-center">
            <div class="col-sm col-auto text-center btn-group">
                <button type="button" class="btn btn-light btn-letter btn-sm" value="A" id="btn_A" disabled>A</button>
                <button type="button" class="btn btn-light btn-letter btn-sm" value="S" id="btn_S" disabled>S</button>
                <button type="button" class="btn btn-light btn-letter btn-sm" value="D" id="btn_D" disabled>D</button>
                <button type="button" class="btn btn-light btn-letter btn-sm" value="F" id="btn_F" disabled>F</button>
                <button type="button" class="btn btn-light btn-letter btn-sm" value="G" id="btn_G" disabled>G</button>
                <button type="button" class="btn btn-light btn-letter btn-sm" value="H" id="btn_H" disabled>H</button>
                <button type="button" class="btn btn-light btn-letter btn-sm" value="J" id="btn_J" disabled>J</button>
                <button type="button" class="btn btn-light btn-letter btn-sm" value="K" id="btn_K" disabled>K</button>
                <button type="button" class="btn btn-light btn-letter btn-sm" value="L" id="btn_L" disabled>L</button>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="keyboard-row justify-content-center">
            <div class="col-sm col-auto text-center btn-group">
                <button type="button" class="btn btn-light btn-letter btn-sm" value="Z" id="btn_Z" disabled>Z</button>
                <button type="button" class="btn btn-light btn-letter btn-sm" value="X" id="btn_X" disabled>X</button>
                <button type="button" class="btn btn-light btn-letter btn-sm" value="C" id="btn_C" disabled>C</button>
                <button type="button" class="btn btn-light btn-letter btn-sm" value="V" id="btn_V" disabled>V</button>
                <button type="button" class="btn btn-light btn-letter btn-sm" value="B" id="btn_B" disabled>B</button>
                <button type="button" class="btn btn-light btn-letter btn-sm" value="N" id="btn_N" disabled>N</button>
                <button type="button" class="btn btn-light btn-letter btn-sm" value="M" id="btn_M" disabled>M</button>
            </div>
        </div>
    </div>

    <div class="row keyboard-row">
        <div class="col-sm text-center ">
            <button type="button" class="btn btn-primary btn-new-game">Novo Jogo</button>
        </div>
    </div>

</div>

<!-- Modal ganhou -->
<div class="modal fade" id="modalWon" tabindex="-1" role="dialog" aria-labelledby="modalWonLabel" aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-success" id="modalWonLabel">Parabéns</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Você invocou <strong><span class="secret"></span></strong>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal perdeu -->
<div class="modal fade" id="modalLost" tabindex="-1" role="dialog" aria-labelledby="modalLostLabel" aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger" id="modalLostLabel">Que pena</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Você não conseguiu invocar <strong><span class="secret"></span></strong>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}