<footer class="page-footer bg-primary text-white-50" id="sticky-footer">
	{% load static %}
	<div class="container">
		<div class="row">
			<div class="col-sm">
				<p class="social-title">Encontre esse projeto no Github</p>
				<div class="social">
					<ul>
						<li>
							<a href="https://github.com/josenaldo/invoca-piroto/" target="_new">
								<i class="fab fa-github  fa-6x"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="col-sm">
				<p class="social-title">Patrocine esse projeto</p>
				<div class="social-link">
					<p>
						<a href="https://picpay.me/josenaldo" target="_new">
							https://picpay.me/josenaldo
						</a>
					</p>
					<p>
						<a href="https://picpay.me/josenaldo" target="_new">
							<img src="{% static 'images/qrcode-200.png'%}" alt="Doe para PicPay @Josenaldo"
								class="social-link">
						</a>
					</p>

				</div>
			</div>

			<div class="col-sm">
				<p class="social-title">Social Media</p>
				<div class="social">
					<ul>

						<li>
							<a href="mailto:josenaldo@gmail.com" target="_new">
								<i class="fas fa-envelope"></i>
							</a>
						</li>

						<li>
							<a href="https://github.com/josenaldo" target="_new">
								<i class="fab fa-github-alt"></i>
							</a>
						</li>

						<li>
							<a href="https://www.twitter.com/vudureverso" target="_new">
								<i class="fab fa-twitter"></i>
							</a>
						</li>

						<li>
							<a href="https://www.linkedin.com/in/josenaldo/" target="_new">
								<i class="fab fa-linkedin"></i>
							</a>
						</li>

						<li>
							<a href="https://www.facebook.com/josenaldo.matos" target="_new">
								<i class="fab fa-facebook"></i>
							</a>
						</li>

						<li>
							<a href="https://www.instagram.com/vudureverso" target="_new">
								<i class="fab fa-instagram"></i>
							</a>
						</li>

						<li>
							<a href="https://www.reddit.com/u/vudureverso" target="_new">
								<i class="fab fa-reddit-alien"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			Copyright © 2020 Vudu Reverso Tudo nessa porra é reservado
		</div>
	</div>

</footer>