{% load static %}
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary ">

        <div class="container">
            <a class="d-flex navbar-brand d-flex align-items-center" href="/">
                <img src="{% static 'images/brand-logo.png' %}" alt=""> <span> Invoca Piroto</span>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerCapeta"
                aria-controls="navbarTogglerCapeta" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerCapeta">

                <ul class="navbar-nav ml-auto text-center">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'invocacao' %}">Invoca Piroto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'forca' %}">Enforca Piroto</a>
                    </li>
                    {% if perms.namelist.add_devilname %}
                        <li><a class="nav-link" href="{% url 'devilname_list'%}">Admin</a></li>
                    {% endif %}

                    {% if user.is_authenticated %}
                        <li>
                            <a class="nav-link" href="{% url 'logout'%}">
                                {{ user.get_username }} <i class="fas fa-sign-out-alt"></i>
                            </a>
                        </li>
                    {% else %}
                        <li>
                            <a class="nav-link" href="{% url 'login'%}?next={{request.path }}">
                                Login <i class="fas fa-sign-in-alt"></i>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

</header>