{% if is_paginated %}

<div class="container">
    <div class="row justify-content-center">
        <div class="-col-md-auto">

            <nav aria-label="Page navigation example">
                <ul class="pagination pagination-lg">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="{{ request.path }}?page={{ page_obj.previous_page_number }}">
                            <span>&laquo;</span>
                        </a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="">
                            <span>&laquo;</span>
                        </a>
                    </li>
                    {% endif %}

                    {% for i in page_obj.paginator.page_range %}
                        {% if page_obj.number == i %}
                            <li class="page-item active">
                                <a class="page-link" href="#">{{ i }}</a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}


                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}">
                            <span>&raquo;</span>
                        </a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="">
                            <span>&raquo;</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>

    <div class="row justify-content-center">
        <span class="page-links">
            <span class="page-current"><i class="fab fa-fw fa-chevron-circle-right"></i>
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </span>
        </span>
    </div>
</div>
{% endif %}