{% if is_paginated %}

<div class="container">
    <div class="row justify-content-center">
        <div class="-col-md-auto">

            <nav aria-label="Page navigation example">
                <ul class="pagination pagination-lg">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="{{ request.path }}?page={{ page_obj.previous_page_number }}">
                            <i class="fas fa-chevron-circle-left"></i>
                        </a>
                    </li>
                    {% endif %}

                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>

                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}">
                            <i class="fas fa-chevron-circle-right"></i>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>

    <div class="row justify-content-center">
        <span class="page-links">
            <span class="page-current"><i class="fab fa-fw fa-chevron-circle-right"></i>
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </span>
        </span>
    </div>
</div>
{% endif %}