<!DOCTYPE html>
<html lang="pt-br">

{% include "includes/head.html" %}

<body>
    {% include "includes/navbar.html" %}

    <main role="main">
        {% include "includes/breadcrumb.html" %}

        {% include "includes/messages.html" %}

        {% block content %}{% endblock %}

        {% block pagination %}
            {% include 'includes/pagination.html' %}
        {% endblock %}

    </main>

    {% include "includes/footer.html" %}

    {% include "includes/scripts.html" %}

    {% include "includes/gtag.html" %}

</body>

</html>