<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} TODO Verificar se título está sendo modificado nos templates {% endcomment %}
    <title>{% block title %}Invoca Piroto{% endblock %}</title>

    {% include "includes/head.html" %}
    {% include "includes/head-social.html" %}
</head>

<body>

    <div class="bs-canvas-overlay bs-canvas-anim bg-dark position-fixed w-100 h-100"></div>

    {% include "includes/navbar.html" %}

    <main role="main">
        {% include "includes/breadcrumb.html" %}

        {% include "includes/messages.html" %}

        {% block content %}{% endblock %}

        {% block pagination %}
        {% include 'includes/pagination.html' %}
        {% endblock %}

    </main>

    {% include "includes/footer.html" %}

    {% include "includes/scripts.html" %}

    {% include "includes/gtag.html" %}

</body>

</html>